#original_trombones_logo {
    width: 300px;
    height: 34px;
    align-self: flex-start;
}

header {
    display: flex;
    border: 1px solid;  
    flex-direction: row;
    justify-content: space-between;
}



nav{
    display: flex;
    width: 50%;
    
    justify-content: space-around;
}

.container {
    border: 1px solid;
    margin: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


#email, #submit {
    margin: 10px;
}

#features {
    align-items: flex-start;
    justify-content: space-around;
    
}

.grid {
    display: flex;
    justify-content: space-around;
}



nav a 
/*.container {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
justify-content: space-around;
}

                    <nav id='nav-bar'>
                        <ul>
                            <li><a class='nav-link' href=''>Features</a></li>
                            <li><a class='nav-link' href=''>How It Works</a></li>
                            <li><a class='nav-link' href=''>Pricing</a></li>
                        </ul>
 */