body {
    margin: 0;
}
#original_trombones_logo {
    width: 300px;
    height: 34px;
    align-self: flex-start;
}

header {
    display: flex;
    border: 1px solid;  
    justify-content: space-between;
}

nav{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.container {
    border: 1px solid; 
    margin: 5%;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

#email, #submit {
    margin: 10px;
}

.grid {
    display: flex;
}
#features {
    margin-top: 30px;
}

#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}
#youtube_frame {
    display: flex;
    justify-content: center;
}
iframe {
    width: 580px;
    height: 315px;

}

#prices {
    display: flex;
    justify-content: space-around;

}

@media (max-width: 800px) {
    #prices {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;     
    }
}
.price {
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    border: 1px solid;
    margin-bottom: 8px;
}

.price h2{
    background-color: grey;
}

@media (min-width:900px) {
    footer {
        width: 80%;
        margin: 0 auto;
        background-color: #ddd;
        margin-top: 40px;
    }
}


footer {
    background-color: #ddd;
    margin-top: 40px;
    padding: 20px;
    
    
}

footer ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

footer ul li{
    padding: 0 10px;
}

footer > span {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}
/*.container {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
justify-content: space-around;
}

    
                    <nav id='nav-bar'>
                        <ul>
                            <li><a class='nav-link' href=''>Features</a></li>
                            <li><a class='nav-link' href=''>How It Works</a></li>
                            <li><a class='nav-link' href=''>Pricing</a></li>
                        </ul>
 
 
 
 




}
 
 
 
 
 
 
 
 
     */